In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
df=pd.read_csv('WDC_Business_Case.csv',error_bad_lines=False,encoding = "Latin-1")

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 8 columns):
Product                       80 non-null object
Channel                       80 non-null object
Customer Name                 80 non-null int64
Region                        80 non-null object
Quarter                       80 non-null object
Price per unit WD             80 non-null object
Price per unit distributor    80 non-null object
Units Sold                    80 non-null float64
dtypes: float64(1), int64(1), object(6)
memory usage: 5.1+ KB

In [60]:
df['Units Sold']=df['Units Sold'].str.replace(',','')
df['Units Sold']=df['Units Sold'].astype(float)

In [61]:
df['Units Sold']

0     4514.0
1     5421.0
2     4409.0
3     5003.0
4     7081.0
5     7078.0
6     4447.0
7     4443.0
8     5272.0
9     5114.0
10    3188.0
11    6759.0
12    5787.0
13    6848.0
14    3356.0
15    4949.0
16    4963.0
17    6641.0
18    5603.0
19    2676.0
20    7450.0
21    3560.0
22    7149.0
23    4134.0
24    5842.0
25    2932.0
26    2728.0
27    4255.0
28    3952.0
29    4581.0
       ...
50    5321.0
51    3836.0
52    3628.0
53    5971.0
54    6452.0
55    6821.0
56    3851.0
57    3985.0
58    5284.0
59    2533.0
60    7197.0
61    4513.0
62    5482.0
63    6322.0
64    5206.0
65    4140.0
66    5818.0
67    7362.0
68    6909.0
69    4293.0
70    6341.0
71    7492.0
72    2649.0
73    4395.0
74    4850.0
75    7008.0
76    3190.0
77    6179.0
78    4975.0
79    5839.0
Name: Units Sold, Length: 80, dtype: float64

In [16]:
df.columns

Index(['Product', 'Channel', 'Customer Name', 'Region', 'Quarter',
       'Price per unit WD', 'Price per unit distributor', 'Units Sold'],
      dtype='object')

In [17]:
df['Product'].unique()

array(['CoolCharge'], dtype=object)

In [18]:
df['Channel'].unique()

array(['Brick&Mortar', 'Distribution'], dtype=object)

In [21]:
df['Customer Name'].unique(),df['Customer Name'].nunique()

(array([ 1003,  1011,  1022,  3011, 32000,  2333,  2332,  5334,  4435,
         5677], dtype=int64), 10)

In [24]:
df['Region'].unique(),df['Region'].nunique()

(array(['North America', 'Japan', 'APAC', 'Latin America'], dtype=object), 4)

In [25]:
df['Quarter'].unique(),df['Quarter'].nunique()

(array(['Q1', 'Q2'], dtype=object), 2)

In [27]:
df.head(10)

,Product,Channel,Customer Name,Region,Quarter,Price per unit WD,Price per unit distributor,Units Sold
0,CoolCharge,Brick&Mortar,1003,North America,Q1,$18,$20,"4,514.00"
1,CoolCharge,Brick&Mortar,1003,Japan,Q1,$19,$21,"5,421.00"
2,CoolCharge,Brick&Mortar,1003,APAC,Q1,$19,$21,"4,409.00"
3,CoolCharge,Brick&Mortar,1003,Latin America,Q1,$17,$19,"5,003.00"
4,CoolCharge,Brick&Mortar,1003,North America,Q2,$15,$21,"7,081.00"
5,CoolCharge,Brick&Mortar,1003,Japan,Q2,$17,$20,"7,078.00"
6,CoolCharge,Brick&Mortar,1003,APAC,Q2,$17,$20,"4,447.00"
7,CoolCharge,Brick&Mortar,1003,Latin America,Q2,$19,$22,"4,443.00"
8,CoolCharge,Brick&Mortar,1011,North America,Q1,$18,$20,"5,272.00"
9,CoolCharge,Brick&Mortar,1011,Japan,Q1,$17,$19,"5,114.00"

In [28]:
df.tail(10)

,Product,Channel,Customer Name,Region,Quarter,Price per unit WD,Price per unit distributor,Units Sold
70,CoolCharge,Distribution,4435,APAC,Q2,$16,$21,"6,341.00"
71,CoolCharge,Distribution,4435,Latin America,Q2,$19,$21,"7,492.00"
72,CoolCharge,Distribution,5677,North America,Q1,$18,$20,"2,649.00"
73,CoolCharge,Distribution,5677,Japan,Q1,$19,$21,"4,395.00"
74,CoolCharge,Distribution,5677,APAC,Q1,$20,$22,"4,850.00"
75,CoolCharge,Distribution,5677,Latin America,Q1,$20,$22,"7,008.00"
76,CoolCharge,Distribution,5677,North America,Q2,$17,$19,"3,190.00"
77,CoolCharge,Distribution,5677,Japan,Q2,$19,$21,"6,179.00"
78,CoolCharge,Distribution,5677,APAC,Q2,$15,$20,"4,975.00"
79,CoolCharge,Distribution,5677,Latin America,Q2,$20,$22,"5,839.00"

In [65]:
df_Region_APAC=df[df['Region']=='APAC']

In [66]:
df_Region_APAC.reset_index(inplace=True)
df_Region_APAC

,index,Product,Channel,Customer Name,Region,Quarter,Price per unit WD,Price per unit distributor,Units Sold
0,2,CoolCharge,Brick&Mortar,1003,APAC,Q1,$19,$21,4409.0
1,6,CoolCharge,Brick&Mortar,1003,APAC,Q2,$17,$20,4447.0
2,10,CoolCharge,Brick&Mortar,1011,APAC,Q1,$17,$19,3188.0
3,14,CoolCharge,Brick&Mortar,1011,APAC,Q2,$19,$21,3356.0
4,18,CoolCharge,Brick&Mortar,1022,APAC,Q1,$17,$21,5603.0
5,22,CoolCharge,Brick&Mortar,1022,APAC,Q2,$20,$22,7149.0
6,26,CoolCharge,Brick&Mortar,3011,APAC,Q1,$17,$20,2728.0
7,30,CoolCharge,Brick&Mortar,3011,APAC,Q2,$16,$19,5021.0
8,34,CoolCharge,Brick&Mortar,32000,APAC,Q1,$20,$22,3573.0
9,38,CoolCharge,Brick&Mortar,32000,APAC,Q2,$18,$20,3721.0
10,42,CoolCharge,Distribution,2333,APAC,Q1,$15,$20,6896.0
11,46,CoolCharge,Distribution,2333,APAC,Q2,$20,$22,2590.0
12,50,CoolCharge,Distribution,2332,APAC,Q1,$15,$18,5321.0
13,54,CoolCharge,Distribution,2332,APAC,Q2,$18,$22,6452.0
14,58,CoolCharge,Distribution,5334,APAC,Q1,$15,$22,5284.0
15,62,CoolCharge,Distribution,5334,APAC,Q2,$20,$22,5482.0
16,66,CoolCharge,Distribution,4435,APAC,Q1,$15,$19,5818.0
17,70,CoolCharge,Distribution,4435,APAC,Q2,$16,$21,6341.0
18,74,CoolCharge,Distribution,5677,APAC,Q1,$20,$22,4850.0
19,78,CoolCharge,Distribution,5677,APAC,Q2,$15,$20,4975.0

In [67]:
df_Region_APAC['Delta']=df_Region_APAC['Units Sold'].pct_change()

C:\Users\iqbal\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [72]:
df_Region_APAC['Delta'].iloc[::2]=np.NaN

C:\Users\iqbal\Anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\iqbal\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [73]:
df_Region_APAC

,index,Product,Channel,Customer Name,Region,Quarter,Price per unit WD,Price per unit distributor,Units Sold,Delta
0,2,CoolCharge,Brick&Mortar,1003,APAC,Q1,$19,$21,4409.0,NaN
1,6,CoolCharge,Brick&Mortar,1003,APAC,Q2,$17,$20,4447.0,0.008619
2,10,CoolCharge,Brick&Mortar,1011,APAC,Q1,$17,$19,3188.0,NaN
3,14,CoolCharge,Brick&Mortar,1011,APAC,Q2,$19,$21,3356.0,0.052698
4,18,CoolCharge,Brick&Mortar,1022,APAC,Q1,$17,$21,5603.0,NaN
5,22,CoolCharge,Brick&Mortar,1022,APAC,Q2,$20,$22,7149.0,0.275924
6,26,CoolCharge,Brick&Mortar,3011,APAC,Q1,$17,$20,2728.0,NaN
7,30,CoolCharge,Brick&Mortar,3011,APAC,Q2,$16,$19,5021.0,0.840543
8,34,CoolCharge,Brick&Mortar,32000,APAC,Q1,$20,$22,3573.0,NaN
9,38,CoolCharge,Brick&Mortar,32000,APAC,Q2,$18,$20,3721.0,0.041422
10,42,CoolCharge,Distribution,2333,APAC,Q1,$15,$20,6896.0,NaN
11,46,CoolCharge,Distribution,2333,APAC,Q2,$20,$22,2590.0,-0.624420
12,50,CoolCharge,Distribution,2332,APAC,Q1,$15,$18,5321.0,NaN
13,54,CoolCharge,Distribution,2332,APAC,Q2,$18,$22,6452.0,0.212554
14,58,CoolCharge,Distribution,5334,APAC,Q1,$15,$22,5284.0,NaN
15,62,CoolCharge,Distribution,5334,APAC,Q2,$20,$22,5482.0,0.037472
16,66,CoolCharge,Distribution,4435,APAC,Q1,$15,$19,5818.0,NaN
17,70,CoolCharge,Distribution,4435,APAC,Q2,$16,$21,6341.0,0.089893
18,74,CoolCharge,Distribution,5677,APAC,Q1,$20,$22,4850.0,NaN
19,78,CoolCharge,Distribution,5677,APAC,Q2,$15,$20,4975.0,0.025773

In [83]:
df_Region_LA=df[df['Region']=='Latin America']
df_Region_LA.reset_index(inplace=True)
df_Region_LA['Delta']=df_Region_LA['Units Sold'].pct_change()
df_Region_LA['Delta'].iloc[::2]=np.NaN
df_Region_LA.head(20)

C:\Users\iqbal\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\iqbal\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,index,Product,Channel,Customer Name,Region,Quarter,Price per unit WD,Price per unit distributor,Units Sold,Delta
0,3,CoolCharge,Brick&Mortar,1003,Latin America,Q1,$17,$19,5003.0,NaN
1,7,CoolCharge,Brick&Mortar,1003,Latin America,Q2,$19,$22,4443.0,-0.111933
2,11,CoolCharge,Brick&Mortar,1011,Latin America,Q1,$19,$21,6759.0,NaN
3,15,CoolCharge,Brick&Mortar,1011,Latin America,Q2,$20,$22,4949.0,-0.267791
4,19,CoolCharge,Brick&Mortar,1022,Latin America,Q1,$17,$19,2676.0,NaN
5,23,CoolCharge,Brick&Mortar,1022,Latin America,Q2,$19,$21,4134.0,0.544843
6,27,CoolCharge,Brick&Mortar,3011,Latin America,Q1,$15,$22,4255.0,NaN
7,31,CoolCharge,Brick&Mortar,3011,Latin America,Q2,$19,$21,7435.0,0.747356
8,35,CoolCharge,Brick&Mortar,32000,Latin America,Q1,$18,$20,3748.0,NaN
9,39,CoolCharge,Brick&Mortar,32000,Latin America,Q2,$19,$21,6009.0,0.603255
10,43,CoolCharge,Distribution,2333,Latin America,Q1,$20,$22,6431.0,NaN
11,47,CoolCharge,Distribution,2333,Latin America,Q2,$19,$21,4910.0,-0.236511
12,51,CoolCharge,Distribution,2332,Latin America,Q1,$16,$19,3836.0,NaN
13,55,CoolCharge,Distribution,2332,Latin America,Q2,$16,$18,6821.0,0.778154
14,59,CoolCharge,Distribution,5334,Latin America,Q1,$15,$21,2533.0,NaN
15,63,CoolCharge,Distribution,5334,Latin America,Q2,$17,$20,6322.0,1.495855
16,67,CoolCharge,Distribution,4435,Latin America,Q1,$16,$18,7362.0,NaN
17,71,CoolCharge,Distribution,4435,Latin America,Q2,$19,$21,7492.0,0.017658
18,75,CoolCharge,Distribution,5677,Latin America,Q1,$20,$22,7008.0,NaN
19,79,CoolCharge,Distribution,5677,Latin America,Q2,$20,$22,5839.0,-0.166809

In [84]:
df_Region_Japan=df[df['Region']=='Japan']
df_Region_Japan.reset_index(inplace=True)
df_Region_Japan['Delta']=df_Region_Japan['Units Sold'].pct_change()
df_Region_Japan['Delta'].iloc[::2]=np.NaN
df_Region_Japan.head(20)

C:\Users\iqbal\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\iqbal\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,index,Product,Channel,Customer Name,Region,Quarter,Price per unit WD,Price per unit distributor,Units Sold,Delta
0,1,CoolCharge,Brick&Mortar,1003,Japan,Q1,$19,$21,5421.0,NaN
1,5,CoolCharge,Brick&Mortar,1003,Japan,Q2,$17,$20,7078.0,0.305663
2,9,CoolCharge,Brick&Mortar,1011,Japan,Q1,$17,$19,5114.0,NaN
3,13,CoolCharge,Brick&Mortar,1011,Japan,Q2,$15,$22,6848.0,0.339069
4,17,CoolCharge,Brick&Mortar,1022,Japan,Q1,$19,$21,6641.0,NaN
5,21,CoolCharge,Brick&Mortar,1022,Japan,Q2,$16,$18,3560.0,-0.463936
6,25,CoolCharge,Brick&Mortar,3011,Japan,Q1,$17,$19,2932.0,NaN
7,29,CoolCharge,Brick&Mortar,3011,Japan,Q2,$15,$19,4581.0,0.562415
8,33,CoolCharge,Brick&Mortar,32000,Japan,Q1,$15,$17,3437.0,NaN
9,37,CoolCharge,Brick&Mortar,32000,Japan,Q2,$19,$21,7455.0,1.169043
10,41,CoolCharge,Distribution,2333,Japan,Q1,$17,$20,2752.0,NaN
11,45,CoolCharge,Distribution,2333,Japan,Q2,$19,$22,4531.0,0.646439
12,49,CoolCharge,Distribution,2332,Japan,Q1,$17,$21,2622.0,NaN
13,53,CoolCharge,Distribution,2332,Japan,Q2,$20,$22,5971.0,1.277269
14,57,CoolCharge,Distribution,5334,Japan,Q1,$15,$20,3985.0,NaN
15,61,CoolCharge,Distribution,5334,Japan,Q2,$16,$19,4513.0,0.132497
16,65,CoolCharge,Distribution,4435,Japan,Q1,$19,$22,4140.0,NaN
17,69,CoolCharge,Distribution,4435,Japan,Q2,$16,$21,4293.0,0.036957
18,73,CoolCharge,Distribution,5677,Japan,Q1,$19,$21,4395.0,NaN
19,77,CoolCharge,Distribution,5677,Japan,Q2,$19,$21,6179.0,0.405916

In [85]:
df_Region_NA=df[df['Region']=='North America']
df_Region_NA.reset_index(inplace=True)
df_Region_NA['Delta']=df_Region_NA['Units Sold'].pct_change()
df_Region_NA['Delta'].iloc[::2]=np.NaN
df_Region_NA.head(20)

C:\Users\iqbal\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\iqbal\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,index,Product,Channel,Customer Name,Region,Quarter,Price per unit WD,Price per unit distributor,Units Sold,Delta
0,0,CoolCharge,Brick&Mortar,1003,North America,Q1,$18,$20,4514.0,NaN
1,4,CoolCharge,Brick&Mortar,1003,North America,Q2,$15,$21,7081.0,0.568675
2,8,CoolCharge,Brick&Mortar,1011,North America,Q1,$18,$20,5272.0,NaN
3,12,CoolCharge,Brick&Mortar,1011,North America,Q2,$15,$17,5787.0,0.097686
4,16,CoolCharge,Brick&Mortar,1022,North America,Q1,$19,$21,4963.0,NaN
5,20,CoolCharge,Brick&Mortar,1022,North America,Q2,$15,$20,7450.0,0.501108
6,24,CoolCharge,Brick&Mortar,3011,North America,Q1,$15,$18,5842.0,NaN
7,28,CoolCharge,Brick&Mortar,3011,North America,Q2,$18,$21,3952.0,-0.323519
8,32,CoolCharge,Brick&Mortar,32000,North America,Q1,$20,$22,5417.0,NaN
9,36,CoolCharge,Brick&Mortar,32000,North America,Q2,$15,$20,7364.0,0.359424
10,40,CoolCharge,Distribution,2333,North America,Q1,$16,$19,3569.0,NaN
11,44,CoolCharge,Distribution,2333,North America,Q2,$19,$21,3975.0,0.113757
12,48,CoolCharge,Distribution,2332,North America,Q1,$16,$19,5942.0,NaN
13,52,CoolCharge,Distribution,2332,North America,Q2,$19,$21,3628.0,-0.389431
14,56,CoolCharge,Distribution,5334,North America,Q1,$15,$18,3851.0,NaN
15,60,CoolCharge,Distribution,5334,North America,Q2,$17,$19,7197.0,0.868865
16,64,CoolCharge,Distribution,4435,North America,Q1,$16,$22,5206.0,NaN
17,68,CoolCharge,Distribution,4435,North America,Q2,$15,$21,6909.0,0.327123
18,72,CoolCharge,Distribution,5677,North America,Q1,$18,$20,2649.0,NaN
19,76,CoolCharge,Distribution,5677,North America,Q2,$17,$19,3190.0,0.204228